{% if section.settings.visible %}
  <style>
    .announcement-bar {
      background-color: {{ section.settings.color_bg }};
      text-align: center;
    }

    body {
      position: relative;
      top: {{ section.settings.header_padding }}px !important;
    }

    .slider {
      height: 33px;
      width: 100%;
      overflow: visible;
      position: relative;
    }

    .mask {
      overflow: hidden;
      height: 33px;
    }

    .slider__list {
      margin: 0;
      padding: 0;
      position: relative;
    }

    .slider__text {
      width: 100%;
      height: 33px;
      position: absolute;
      list-style: none;
      font-size: {{ section.settings.font_size }}px;
      text-align: center;
      color: {{ section.settings.color_text }};
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }

    .slider div.anim1 {
      -moz-animation: cycle 15s linear infinite;
      -webkit-animation: cycle 15s linear infinite;
      animation: cycle 15s linear infinite;
      top: 100px;
      opacity: 0;
    }

    .slider div.anim2 {
      -moz-animation: cycle2 15s linear infinite;
      -webkit-animation: cycle2 15s linear infinite;
      animation: cycle2 15s linear infinite;
      top: 100px;
      opacity: 0;
    }

    @keyframes cycle {
      0% {
        transform: translateY(-60px);
        opacity: 0;
      }
      3% {
        transform: translateY(-100px);
        opacity: 1;
      }
      47% {
        transform: translateY(-100px);
        opacity: 1;
      }
      50% {
        transform: translateY(-100px);
        opacity: 0;
      }
      100% {
        transform: translateY(-60px);
        opacity: 0;
      }
    }

    @keyframes cycle2 {
      0% {
        transform: translateY(-10px);
        opacity: 0;
      }
      50% {
        transform: translateY(-60px);
        opacity: 0;
      }
      53%, 97% {
        transform: translateY(-100px);
        opacity: 1;
      }
      100% {
        transform: translateY(-100px);
        opacity: 0;
      }
    }
  </style>

  {% assign announcement_message = section.settings.message_text %}
  {% assign announcement_link1 = section.settings.announcement_link_1 %}
  {% assign announcement_message2 = section.settings.announcement_two %}
  {% assign announcement_link2 = section.settings.announcement_link_2 %}

  {% if announcement_message != blank or announcement_message2 != blank %}
    <div class="announcement-bar">
      <div class="slider">
        <div class="mask">
          <div class="slider__list">
            {% if announcement_message != blank and announcement_message2 == blank %}
              <a
                href="{{ announcement_link1 }}"
                style="color: {{ section.settings.color_text }}; text-decoration: none"
              >
                <div class="slider__text">{{ announcement_message }}</div>
              </a>
            {% endif %}

            {% if announcement_message2 != blank and announcement_message == blank %}
              <a
                href="{{ announcement_link2 }}"
                style="color: {{ section.settings.color_text }}; text-decoration: none"
              >
                <div class="slider__text">{{ announcement_message2 }}</div>
              </a>
            {% endif %}

            {% if announcement_message != blank and announcement_message2 != blank %}
              <div class="anim1 slider__text">{{ announcement_message }}</div>
              <div class="anim2 slider__text">{{ announcement_message2 }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "header",
      "content": "Visibility"
    },
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show announcement bar",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "textarea",
      "id": "message_text",
      "label": "Announcement one text",
      "default": "Announcement one text"
    },
    {
      "type": "url",
      "id": "announcement_link_1",
      "label": "Announcement one link"
    },
    {
      "type": "textarea",
      "id": "announcement_two",
      "label": "Announcement two text",
      "default": "Announcement two text"
    },
    {
      "type": "url",
      "id": "announcement_link_2",
      "label": "Announcement two link"
    },
    {
      "type": "header",
      "content": "Styles"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color",
      "default": "#B86637"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 8,
      "max": 16,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    }
  ]
}
{% endschema %}
