{{ 'faq.css' | asset_url | stylesheet_tag }}

<div class="faq">
  <div class="faq__header">
    <h1 class="faq__header-title">{{ section.settings.section_title_text }}</h1>
    <div class="faq__header-desc">{{ section.settings.section_description_text }}</div>
  </div>

  <div class="faq__questions">
    {% assign isFirstGroupItem = true %}
    {% for block in section.blocks %}
      {% if block.type == 'title_block' %}
        {% assign isFirstGroupItem = true %}
        <div class="faq__question-category-title">
          <span class="faq__question-category-title-text">
          {{ block.settings.title_text }}
        </span>
        </div>
      {% elsif block.type == 'question_block' %}
        <div
          class="faq__item
            {% if isFirstGroupItem %}
              faq__item_first-group-item
              {% assign isFirstGroupItem = false %}
            {% endif %}
          "
        >
          <div class="faq__question">
            <span class="faq__question-text no-select">{{ block.settings.question_text }}</span>
          </div>
          <div class="faq__answer">{{ block.settings.answer_text }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_title_text",
      "label": "Section title text",
      "default": "FAQS"
    },
    {
      "type": "textarea",
      "id": "section_description_text",
      "label": "Description text",
      "default": "Description text"
    }
  ],
  "blocks": [
    {
      "type": "title_block",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Title text",
          "default": "Title text"
        }
      ]
    },
    {
      "type": "question_block",
      "name": "Question with answer",
      "settings": [
        {
          "type": "text",
          "id": "question_text",
          "label": "Question text",
          "default": "Question text"
        },
        {
          "type": "textarea",
          "id": "answer_text",
          "label": "Answer text",
          "default": "Answer text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "blocks": [
        {
          "type": "title_block"
        },
        {
          "type": "question_block"
        }
      ]
    }
  ]
}
{% endschema %}
