{{ 'footer.css' | asset_url | stylesheet_tag }}
{{ 'validation.css' | asset_url | stylesheet_tag }}

<div class="footer container">
  <div class="footer-inner">
    <div class="footer-desk-cols">
      <div class="footer-desk-col">
        <span class="desk-col__title">{{ section.settings.customer_column_text }}</span>
        <ul class="desk-col__list">
          {% for link in linklists[section.settings.customer_menu].links %}
            <li><a href="{{ link.url }}" class="desc-col__text">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-desk-col">
        <span class="desk-col__title">{{ section.settings.about_us_column_text }}</span>
        <ul class="desk-col__list">
          {% for link in linklists[section.settings.about_us_menu].links %}
            <li><a href="{{ link.url }}" class="desc-col__text">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-desk-col">
        <span class="desk-col__title">{{ section.settings.follow_column_text }}</span>
        <ul class="desk-col__list">
          {% for link in linklists[section.settings.follow_menu].links %}
            <li><a href="{{ link.url }}" class="desc-col__text">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="footer-mobile">
      <div class="footer-mobile-drpds">
        <div class="ftr-mobile-drpd">
          <div class="mobile-drpd-top">
            <span class="mobile-drpd-text">{{ section.settings.about_us_column_text }}</span>
            <div class="ftr-mobile-state">
              {% render 'icon-tick', stroke: '#000000' %}
            </div>
          </div>
          <ul class="ftr-mobile-drpd-items">
            {% for link in linklists[section.settings.about_us_menu].links %}
              <li class="ftr-mobile-drpd__item">
                <a href="{{ link.url }}" class="ftr-mobile-drpd-item__text">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="ftr-mobile-drpd">
          <div class="mobile-drpd-top">
            <span class="mobile-drpd-text">{{ section.settings.customer_column_text }}</span>
            <div class="ftr-mobile-state">
              {% render 'icon-tick', stroke: '#000000' %}
            </div>
          </div>
          <ul class="ftr-mobile-drpd-items">
            {% for link in linklists[section.settings.customer_menu].links %}
              <li class="ftr-mobile-drpd__item">
                <a href="{{ link.url }}" class="ftr-mobile-drpd-item__text">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="footer-mobile-soc">
        {% for link in linklists[section.settings.follow_menu].links %}
          <li class="footer-mobile-soc__item">
            <a href="{{ link.url }}" class="footer-mobile-soc__link">
              {% render 'icon-instagram' %}
            </a>
          </li>
        {% endfor %}
      </div>
    </div>

    <div class="newsletter">
      <p class="newsletter__text">{{ section.settings.subscribe_text }}</p>

      {%- form 'customer', id: 'ContactFooter', class: 'newsletter' -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter__wrapper">
          <div class="newsletter__field">
            <input
              id="NewsletterForm"
              type="email"
              name="contact[email]"
              class="newsletter__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="ContactFooter-error"
              {% elsif form.posted_successfully? %}
                aria-describedby="ContactFooter-success"
              {% endif %}
              placeholder="{{ section.settings.subscribe_placeholder_text }}"
              data-empty
            >
            <button
              type="submit"
              class="newsletter__btn"
              name="commit"
              id="Subscribe"
            >
              {{ section.settings.subscribe_btn_text }}
            </button>
          </div>
          <div id="FooterErrorMessageContainer" class="ftr-msg-cont">
            {% if section.settings.subscribe_error_empty_email.size > 0 %}
              <div data-error-type="empty" class="ftr-message ftr-message_error disp-none-imp">
                {{ section.settings.subscribe_error_empty_email }}
              </div>
            {% endif %}
            {% if section.settings.subscribe_error_invalid_email.size > 0 %}
              <div data-error-type="invalid" class="ftr-message ftr-message_error disp-none-imp">
                {{ section.settings.subscribe_error_invalid_email }}
              </div>
            {% endif %}
          </div>
          {% if form.posted_successfully? and section.settings.subscribe_success.size > 0 %}
            <div class="ftr-msg-cont">
              <div class="ftr-message ftr-message_success">
                {{ section.settings.subscribe_success }}
              </div>
            </div>
          {% endif %}
        </div>
      {%- endform -%}

    </div>
  </div>

  <div class="footer-bottom-desk">
    <a href="policies/terms-of-service" class="ftr-desk__link">
      {{ section.settings.terms_and_conditions_link_text }}
    </a>
    <a href="{{ shop.url }}" class="ftr-desk__year">
      {% if section.settings.footer_year_left_text.size > 0 and section.settings.footer_year_right_text.size > 0 %}
        {{ section.settings.footer_year_left_text }} {{ 'now' | date: '%Y' }}{{ section.settings.footer_year_right_text }}
      {% else %}
        {{ shop.name | link_to: routes.root_url }}
      {% endif %}
    </a>
    <a href="policies/privacy-policy" class="ftr-desk__link">
      {{ section.settings.privacy_policy_link_text }}
    </a>
  </div>
  <div class="footer-bottom-mobile">
    <div class="ftr-mobile__links">
      <a href="policies/terms-of-service" class="ftr-mobile__link">
        {{ section.settings.terms_and_conditions_link_text }}
      </a>
      <a href="policies/privacy-policy" class="ftr-mobile__link">
        {{ section.settings.privacy_policy_link_text }}
      </a>
    </div>
    <div class="ftr-mobile-year__wrap">
      <a href="{{ shop.url }}" class="ftr-mobile-year">
        {% if section.settings.footer_year_left_text.size > 0 and section.settings.footer_year_right_text.size > 0 %}
          {{ section.settings.footer_year_left_text }} {{ 'now' | date: '%Y' }}{{ section.settings.footer_year_right_text }}
        {% else %}
          {{ shop.name | link_to: routes.root_url }}
        {% endif %}
      </a>
    </div>
  </div>
</div>

{{ 'footer-script.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Footer",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Category columns"
    },
    {
      "type": "text",
      "id": "customer_menu",
      "label": "Customer menu",
      "default": "footer-customer-menu"
    },
    {
      "type": "text",
      "id": "customer_column_text",
      "label": "Customer column text",
      "default": "Customer"
    },
    {
      "type": "text",
      "id": "about_us_menu",
      "label": "About us menu",
      "default": "footer-about-us-menu"
    },
    {
      "type": "text",
      "id": "about_us_column_text",
      "label": "About us column text",
      "default": "About us"
    },
    {
      "type": "text",
      "id": "follow_menu",
      "label": "Follow menu",
      "default": "footer-follow-menu"
    },
    {
      "type": "text",
      "id": "follow_column_text",
      "label": "Follow column text",
      "default": "Follow"
    },
    {
      "type": "header",
      "content": "Subscribe input"
    },
    {
      "type": "text",
      "id": "subscribe_text",
      "label": "Subscribe text",
      "default": "Subscribe input top text"
    },
    {
      "type": "text",
      "id": "subscribe_placeholder_text",
      "label": "Subscribe input placeholder text",
      "default": "Email"
    },
    {
      "type": "textarea",
      "id": "subscribe_btn_text",
      "label": "Subscribe button text",
      "default": "Subscribe button text"
    },
    {
      "type": "header",
      "content": "Validation messages"
    },
    {
      "type": "text",
      "id": "subscribe_error_empty_email",
      "label": "Empty email error text",
      "default": "Please enter your email"
    },
    {
      "type": "text",
      "id": "subscribe_error_invalid_email",
      "label": "Invalid email error text",
      "default": "Invalid email"
    },
    {
      "type": "text",
      "id": "subscribe_success",
      "label": "Subscribe success text",
      "default": "You have successfully subscribed!"
    },
    {
      "type": "header",
      "content": "Bottom"
    },
    {
      "type": "text",
      "id": "terms_and_conditions_link_text",
      "label": "Terms & conditions link text",
      "default": "Terms & conditions"
    },
    {
      "type": "text",
      "id": "footer_year_left_text",
      "label": "Year title",
      "default": "© éterne"
    },
    {
      "type": "text",
      "id": "footer_year_right_text",
      "label": "Year title",
      "default": ". All Rights Reserved"
    },
    {
      "type": "text",
      "id": "privacy_policy_link_text",
      "label": "Privacy policy link text",
      "default": "Privacy policy"
    }
  ]
}
{% endschema %}
