{{ 'addresses.css' | asset_url | stylesheet_tag }}

<script src="{{ 'country-province-selector.js' | asset_url }}" defer></script>
<script src="{{ 'customer-addresses.js' | asset_url }}" defer></script>

{% paginate customer.addresses by 10 %}
<div class="addresses__wrapper">
  <div class="addresses">
    <customer-addresses>
      <div class="addresses__top-wrapper" data-cc-animate>
        <h1 class="addresses__title">Addresses</h1>
        <div class="addresses__top-buttons">
          <button class="addresses__button js-add-address">Add a new address</button>
          <a class="addresses__button" href="{{ routes.account_url }}">Back to account</a>
        </div>
      </div>

      <div id="add_address" class="customer_address account-form edit_address small-form hidden">
        {% form 'customer_address', customer.new_address %}
          <h4 class="addresses__address-head-text">Add a new address</h4>

          <div class="input-row">
            <label for="address_first_name_new">First name</label>
            <input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{ form.first_name }}" size="40" />
          </div>
          <div class="input-row">
            <label for="address_last_name_new">Last name</label>
            <input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{ form.last_name }}" size="40" />
          </div>
          <div class="input-row">
            <label for="address_company_new">Company</label>
            <input type="text" id="address_company_new" class="address_form" name="address[company]" value="{{ form.company }}" size="40" />
          </div>
          <div class="input-row">
            <label for="address_address1_new">Address 1</label>
            <input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{ form.address1 }}" size="40" />
          </div>
          <div class="input-row">
            <label for="address_address2_new">Address 2</label>
            <input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{ form.address2 }}" size="40" />
          </div>
          <div class="input-row">
            <label for="address_city_new">City</label>
            <input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{ form.city }}" size="40" />
          </div>

          <country-province-selector>
            <div class="input-row">
              <label for="edit-new-country">Country</label>
              <span class="lightly-styled-select">
              <select class="w-full js-country-select" id="edit-new-country" name="address[country]" data-default="{{ form.country }}" autocomplete="country">
                {{ all_country_option_tags }}
              </select>
              {% render 'icon-chevron-down' %}
            </span>
            </div>
            <div class="input-row js-province-container" id="edit-new-province-container" hidden>
              <label for="edit-new-province">Province</label>
              <span class="lightly-styled-select">
              <select class="w-full js-province-select" id="edit-new-province" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1">
              </select>
              {% render 'icon-chevron-down' %}
            </span>
            </div>
          </country-province-selector>

          <div class="input-row">
            <label for="address_zip_new">Postal/Zip code</label>
            <input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{ form.zip }}" size="40" />
          </div>
          <div class="input-row">
            <label for="address_phone_new">Phone</label>
            <input type="tel" id="address_phone_new" class="address_form" name="address[phone]" value="{{ form.phone }}" size="40" />
          </div>
          <div class="input-row">
            <label class="checkbox-label">
              {{ form.set_as_default_checkbox }} Set as default address
            </label>
          </div>
          <div class="lightly-spaced-row-above addresses__address-buttons">
            <button class="btn addresses__button" type="submit">Add address</button>
            <a href="#" class="js-cancel addresses__button">Cancel</a>
          </div>
        {% endform %}
      </div>

      <div class="addresses__addresses-wrapper" data-cc-animate>
        {% for address in customer.addresses %}
          <div class="address-table spaced-row">
            <div id="view_address_{{ address.id }}" class="customer_address">
              <h4 class="addresses__address-head-text">
                {{ address.street }}
                {% if address == customer.default_address %}<span class="note">(Default address)</span>{% endif %}
              </h4>
              <div class="view_address lightly-spaced-row">
                <div>{{ address.first_name }} {{ address.last_name }}</div>
                <div>{{ address.company }}</div>
                <div>{{ address.street }}</div>
                <div>{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</div>
                <div>{{ address.country }} {{ address.zip }}</div>
                <div class="address-phone">{{ address.phone }}</div>
              </div>
              <div class="address-actions addresses__address-buttons">
                <a href="#"
                   class="address-edit-toggle js-edit-address addresses__button"
                   data-form-id="{{ address.id }}"
                   aria-owns="edit_address_{{ address.id }}"
                   aria-expanded="false"
                >
                  Edit
                </a>
                <a href="#"
                   class="address-delete js-delete-address addresses__button"
                   data-target="{{ address.url }}"
                   data-confirm-message="Are you sure you wish to delete this address?"
                >
                  Delete
                </a>
              </div>
            </div>
            <div id="edit_address_{{ address.id }}" class="customer_address account-form edit_address small-form hidden">
              <h4 class="addresses__address-head-text">Edit address</h4>
              {% form 'customer_address', address %}
                <div class="input-row">
                  <label for="address_first_name_{{ form.id }}">First name</label>
                  <input type="text" id="address_first_name_{{ form.id }}" class="address_form" name="address[first_name]" value="{{ form.first_name }}" size="40" />
                </div>
                <div class="input-row">
                  <label for="address_last_name_{{ form.id }}">Last name</label>
                  <input type="text" id="address_last_name_{{ form.id }}" class="address_form" name="address[last_name]" value="{{ form.last_name }}" size="40" />
                </div>
                <div class="input-row">
                  <label for="address_company_{{ form.id }}">Company</label>
                  <input type="text" id="address_company_{{ form.id }}" class="address_form" name="address[company]" value="{{ form.company }}" size="40" />
                </div>
                <div class="input-row">
                  <label for="address_address1_{{ form.id }}">Address 1</label>
                  <input type="text" id="address_address1_{{ form.id }}" class="address_form" name="address[address1]" value="{{ form.address1 }}" size="40" />
                </div>
                <div class="input-row">
                  <label for="address_address2_{{ form.id }}">Address 2</label>
                  <input type="text" id="address_address2_{{ form.id }}" class="address_form" name="address[address2]" value="{{ form.address2 }}" size="40" />
                </div>
                <div class="input-row">
                  <label for="address_city_{{ form.id }}">City</label>
                  <input type="text" id="address_city_{{ form.id }}" class="address_form" name="address[city]" value="{{ form.city }}" size="40" />
                </div>

                <country-province-selector>
                  <div class="input-row">
                    <label for="edit-{{ address.id }}-country">Country</label>
                    <span class="lightly-styled-select">
                    <select class="w-full js-country-select" id="edit-{{ address.id }}-country" name="address[country]" data-default="{{ form.country }}" autocomplete="country">
                      {{ all_country_option_tags }}
                    </select>
                    {% render 'icon-chevron-down' %}
                  </span>
                  </div>
                  <div class="input-row js-province-container" id="edit-{{ address.id }}-province-container" hidden>
                    <label for="edit-{{ address.id }}-province">Province</label>
                    <span class="lightly-styled-select">
                    <select class="w-full js-province-select" id="edit-{{ address.id }}-province" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1">
                    </select>
                    {% render 'icon-chevron-down' %}
                  </span>
                  </div>
                </country-province-selector>

                <div class="input-row">
                  <label for="address_zip_{{ form.id }}">Postal/Zip code</label>
                  <input type="text" id="address_zip_{{ form.id }}" class="address_form" name="address[zip]" value="{{ form.zip }}" size="40" />
                </div>
                <div class="input-row">
                  <label for="address_phone_{{ form.id }}">Phone</label>
                  <input type="tel" id="address_phone_{{ form.id }}" class="address_form" name="address[phone]" value="{{ form.phone }}" size="40" />
                </div>
                <div class="input-row">
                  <label class="checkbox-label">
                    {{ form.set_as_default_checkbox }} Set as default address
                  </label>
                </div>
                <div class="lightly-spaced-row-above addresses__address-buttons">
                  <button class="btn addresses__button" type="submit">Update address</button>
                  <a href="#" class="js-cancel addresses__button">Cancel</a>
                </div>
              {% endform %}
            </div>
          </div>
        {% endfor %}
      </div>
    </customer-addresses>

    <div class="pagination-row">{% render 'pagination-control', paginate: paginate %}</div>
  </div>
</div>
{% endpaginate %}
