<div class="fully-spaced-row container">
  <div class="account-form{% comment %}{% if shop.checkout.guest_login %} flexible-layout{% endif %}{% endcomment %}" data-cc-animate>
    <div class="{% comment %}{% if shop.checkout.guest_login %}column column--half{% else %}{% endcomment %}small-form{% comment %}{% endif %}{% endcomment %}">
      <div id="customer">
        <div class="page-header{% comment %}{% if shop.checkout.guest_login %} align-start{% endif %}{% endcomment %}">
          <h1 class="title">{{ 'customer.login.title' | t }}</h1>
        </div>

        {% if section.settings.show_activation_banner %}
          <div id="activation-banner-login-{{ section.id }}" class="activation-banner">
            <div class="activation-banner__content">
              <button type="button" class="activation-banner__close-btn" id="activation-banner-login-close-btn-{{ section.id }}">×</button>
              <div class="activation-banner__text">
                {{ section.settings.activation_banner_text }}
              </div>
            </div>
          </div>
        {% endif %}

        {% form 'customer_login' %}
        {{ form.errors | default_errors }}

        <div id="login_email" class="input-row">
          <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label>
          <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
        </div>

        {% if form.password_needed %}

        {% comment %}
        Customer Account Login
        {% endcomment %}

        <div id="login_password" class="input-row">
          <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label>
          <div class="text-over-input">
            <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
            <div id="forgot_password" class="text-over-input__text">
              <a class="underline" href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
            </div>
          </div>
        </div>

        {% endif %}

        <div class="lightly-spaced-row-above">
          <div class="opposing-items">
            <button class="btn login-btn" type="submit">{{ 'customer.login.sign_in' | t }}</button>
            <a href="{{ routes.account_register_url }}" class="underline">{{ 'customer.register.title' | t }}</a>
          </div>

          {% comment %}
            Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
            on the cart page.
          {% endcomment %}
          {% if shop.checkout.guest_login %}
            <div id="guest" class="column column--half">
              {% form 'guest_login' %}
                <div class="continue-as-guest-container">
                  <button class="btn login-btn" type="submit">Continue as a guest</button>
                </div>
              {% endform %}
            </div>
          {% endif %}
        </div>
        {% endform %}
      </div>

      {% comment %}
      Recover Password Form
      {% endcomment %}

      <div id="recover-password" style='display:none'>
        {% form 'recover_customer_password' %}
        {% if form.posted_successfully? %}
        {% assign reset_success = true %}
        {% endif %}
        <div class="page-header">
          <h2 class="title">{{ 'customer.recover_password.title' | t }}</h2>
          {% unless reset_success %}
          <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
          {% endunless %}
        </div>

        {{ form.errors | default_errors }}

        {% if section.settings.show_activation_banner %}
          <div id="activation-banner-reset-password-{{ section.id }}" class="activation-banner">
            <div class="activation-banner__content">
              <button type="button" class="activation-banner__close-btn" id="activation-banner-reset-password-close-btn-{{ section.id }}">×</button>
              <div class="activation-banner__text">
                {{ section.settings.activation_banner_text }}
              </div>
            </div>
          </div>
        {% endif %}

        {% if reset_success %}

        <div class="lightly-spaced-row-above">
          <p>{{ 'customer.recover_password.success' | t }}</p>
          <span class="note"><a class="underline" href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.login.sign_in' | t }}</a></span>
        </div>

        {% else %}

        <div id="recover_email" class="input-row">
          <label for="recover-email" class="large">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
        </div>
        <div class="lightly-spaced-row-above">
          <div class="opposing-items">
            <button class="btn login-btn" type="submit">{{ 'customer.recover_password.submit' | t }}</button>
            <a class="underline" href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
          </div>
        </div>

        {% endif %}

        {% endform %}
      </div>
    </div><!-- /layout-column-half-left" -->

    {% comment %}
    Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
    on the cart page.
    {% endcomment %}

    {% comment %}{% if shop.checkout.guest_login %}
      <div id="guest" class="column column--half">
        <div class="page-header align-start">
          <h3 class="title">{{ 'customer.login.guest_title' | t }}</h3>
        </div>
        {% form 'guest_login' %}
          <button class="btn" type="submit">{{ 'customer.login.guest_continue' | t }}</button>
        {% endform %}
      </div>
    {% endif %}{% endcomment %}
  </div>
</div>

<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('customer').style.display = 'none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'block';
  }

  document.addEventListener('DOMContentLoaded', () => {
    {% if reset_success %}showRecoverPasswordForm();{% endif %}
    if (window.location.hash == '#recover') {
      showRecoverPasswordForm();
    }

    {% if section.settings.show_activation_banner %}
      document.getElementById('activation-banner-login-close-btn-{{ section.id }}').addEventListener('click', () => {
        const activationBannerLogin = document.getElementById('activation-banner-login-{{ section.id }}');
        activationBannerLogin.style.maxHeight = activationBannerLogin.clientHeight + 'px';
        activationBannerLogin.style.opacity = '0';

        setTimeout(() => {
          activationBannerLogin.style.maxHeight = '0';
        }, 10);
      });

      document.getElementById('activation-banner-reset-password-close-btn-{{ section.id }}').addEventListener('click', () => {
        const activationBannerResetPassword = document.getElementById('activation-banner-reset-password-{{ section.id }}');
        activationBannerResetPassword.style.maxHeight = activationBannerResetPassword.clientHeight + 'px';
        activationBannerResetPassword.style.opacity = '0';

        setTimeout(() => {
          activationBannerResetPassword.style.maxHeight = '0';
        }, 10);
      });
    {% endif %}
  });
</script>

{% schema %}
{
  "name": "Customer login",
  "settings": [
    {
      "type": "header",
      "content": "Activation banner "
    },
    {
      "type": "paragraph",
      "content": "Show a banner to inform customers about the activation process on login page."
    },
    {
      "type": "checkbox",
      "id": "show_activation_banner",
      "label": "Show activation banner",
      "default": false
    },
    {
      "type": "richtext",
      "id": "activation_banner_text",
      "label": "Message text",
      "default": "<p>You may need to activate your account on our new site before you log in!</p>"
    },
    {
      "type": "textarea",
      "id": "activation_banner_button_text",
      "label": "Button text",
      "default": "Activate your account"
    }
  ]
}
{% endschema %}
