{{ 'new-in-slider.css' | asset_url | stylesheet_tag }}

{% assign collection_handle = section.settings.selected_collection.handle %}
{% assign enable_image_blur = settings.enable_img_blue_effect %}
{% assign now = "now" | date: "%s" %}

<div class="new-in">
  <div class="new-in__title-wrap">
    <span class="new-in__title">{{ section.settings.section_title }}</span>
  </div>
  <div class="new-in__swiper">
    <div class="new-in__swiper-wrapper swiper-wrapper">
      {% for product in collections[collection_handle].products %}
        {% assign available_from = product.metafields.custom.available_from | date: "%s" %}
        {% if available_from < now or available_from == blank %}

          {% if product.metafields.new_in_slider.pdp_img_list.value != blank %}
            {% assign extra_img = product.metafields.new_in_slider.pdp_img_list %}
            {% assign extra_img_size = extra_img | split: "," | size %}
            {% else %}
            {% assign extra_img_size = 0 %}
          {% endif %}

          {% if extra_img_size == 1 %}
            {% for image in extra_img.value %}
              {% if forloop.index == 1 %}
                {% assign product_image = image | img_url: "master" %}
                {% assign product_image_lazyload = image | img_url: "small" %}
              {% endif %}
            {% endfor %}


          {% elsif extra_img_size > 1 %}
          {% for image in extra_img.value %}

            {% if forloop.index == 1 %}
              {% assign product_image = image | img_url: "master" %}
              {% assign product_image_lazyload = image | img_url: "small" %}
            {% endif %}

            {% if forloop.index == 2 %}
              {% assign product_image_hover = image | img_url: "master" %}
              {% assign product_image_hover_lazyload = image | img_url: "small" %}
            {% endif %}
          {% endfor %}

          {% else %}
            {% assign product_image = product.featured_image | img_url: "master" %}
            {% assign product_image_lazyload = product.featured_image | img_url: "small" %}
            {% if product.images[1] != blank %}
              {% assign product_image_hover = product.images[1] | img_url: "master" %}
              {% assign product_image_hover_lazyload = product.images[1] | img_url: "small" %}
            {% endif %}
          {% endif %}

          <div class="new-in__item swiper-slide">
            <div class="new-in__item-inner">
              <a href="{{ product.selected_or_first_available_variant.url }}" class="new-in__item-link"></a>

              <div class="new-in__img-wrap">
                <div class="new-in__item-bg-imgs-wrap">
                  <div
                    class="new-in__item-bg-img{% if enable_image_blur %} lazyLoad{% endif %}"
                    {% if enable_image_blur %}
                      data-bgimage="{{ product_image }}"
                      style="background-image: url('{{ product_image_lazyload }}'); filter: blur(2px)"
                    {% else %}
                      style="background-image: url('{{ product_image }}');"
                    {% endif %}
                  ></div>
                  {% if product_image_hover != blank %}
                    <div
                        class="new-in__item-bg-img-hover{% if enable_image_blur %} lazyLoad{% endif %}"
                        {% if enable_image_blur %}
                          data-bgimage="{{ product_image_hover }}"
                          style="background-image: url('{{ product_image_hover_lazyload }}'); filter: blur(2px)"
                        {% else %}
                          style="background-image: url('{{ product_image_hover }}');"
                        {% endif %}
                    ></div>
                  {% endif %}
                </div>
              </div>

              <div class="new-in__item-text-wrap">
                <div class="new-in__item-title">{{ product.title }} {{ color_value }}</div>
                <div class="new-in__item-price">{{ product.price | money_without_trailing_zeros }}</div>
              </div>
              <div
                class="new-in__preorder-wrap {% if product.selected_or_first_available_variant.inventory_policy == 'continue' and product.selected_or_first_available_variant.inventory_quantity <= 0 %}disp-flx-imp{% endif %}">
                <div class="new-in__preorder">
                  <div class="new-in__preorder-text">Preorder</div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="swiper-button-prev no-select new-in__arrow-item new-in__arrow-prev">
    {% render 'icon-tick' %}
  </div>
  <div class="swiper-button-next no-select new-in__arrow-item new-in__arrow-next">
    {% render 'icon-tick' %}
  </div>
</div>

{{ 'new-in-slider-script.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "New in slider",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title",
      "default": "New in"
    },
    {
      "type": "collection",
      "id": "selected_collection",
      "label": "EterneCollection"
    }
  ],
  "presets": [
    {
      "name": "New in slider"
    }
  ]
}
{% endschema %}
