<script src="{{ 'cart-drawer.js' | asset_url }}" defer></script>
<script src="{{ 'cart-flyover-element.js' | asset_url }}" defer></script>
{{ 'cart-flyover.css' | asset_url | stylesheet_tag }}

<cart-drawer
  class="drawer fixed top-0 right-0 flex flex-col w-full has-motion js-cart-drawer"
  role="dialog"
  tabindex="-1"
  aria-labelledby="CartDrawerModal-Title"
  aria-modal="true"
  aria-hidden="true"
  data-name="cart-drawer"
  data-section-id="{{ section.id }}"
>
  <cart-flyover data-section-id="{{ section.id }}" class="cart-drawer" data-ajax-update="true">
    <header class="cart-drawer__header cart-drawer__content-item cart-flyover-header">
      <div
        id="CartDrawerModal-Title"
        class="cart-drawer__title h4 heading-font cart-flyover__title"
        data-merge="header-title"
      >
        {{ 'cart.general.title' | t }}
        {% if cart.items != empty %}
          <span class="cart-drawer__title-count">({{ cart.item_count }})</span>
        {% endif %}
      </div>

      <button type="button" class="drawer__close-btn js-close-drawer cart-flyover__close-button">
        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
        {% render 'icon-close-cart-flyover' %}
      </button>
    </header>

    {%- if settings.show_free_shipping_bar -%}
      <div name="cart-flyover-shipping-bar" class="cart-drawer__content-item cart-flyover-shipping-bar">
        {%- render 'free-shipping-bar' -%}
      </div>
    {%- endif -%}

    <div class="cart-item-list__body cart-flyover-list cart-item-list__body{% if cart.item_count == 0 %} cart-flyover-list__full-height {% endif %}">
      {% for item in cart.items %}
        {%- render 'cart-flyover-item', item: item, forloop: forloop, drawer: true -%}
      {% endfor %}
    </div>

    <div class="cart-flyover-footer">
      <div class="cart-flyover-footer-info">
        <button class="cart-flyover-footer-info__note">add a note to your order</button>
        <div class="cart-flyover-footer-info-price">
          <div class="cart-flyover-footer-info__text">Subtotal</div>
          <div class="cart-flyover-footer-info-price__text">{{ cart.total_price | money_without_trailing_zeros }}</div>
        </div>
      </div>
      <a href="/checkout" class="cart-flyover-footer__checkout-button">checkout</a>
    </div>
  </cart-flyover>
</cart-drawer>

{% schema %}
{
  "name": "Cart drawer",
  "class": "section-cart-drawer",
  "settings": [

  ]
}
{% endschema %}
