{{ 'collection.css' | asset_url | stylesheet_tag }}

{% assign visibleFiltersBeforeSeeMoreQuantity = 8 %}

{% liquid
  assign total_active_values = 0
  if collection.url
    assign results_url = collection.url
  else
    assign terms = collection.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by='
  endif
  assign filtersToDisplay = section.settings.filters_value | split: ',' | downcase
%}

<eterne-collection class="collection" data-is-filter-open="true">
  {% paginate collection.products by section.settings.products_per_page %}
  <div class="collection__title-wrap">
    {% if collection.title == 'Products' %}
      <span class="collection__title">Shop all</span>
    {% else %}
      <span class="collection__title">{{ collection.title }}</span>
    {% endif %}
  </div>
  <div class="collection__filter-open-btn-wrap">
    <span class="collection__filter-block-title no-select">Sort & filter</span>
    <div data-filter-status="plus" class="collection__filter-closed-drpd-btn">
      {% render 'icon-plus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
    </div>
  </div>

  <div class="collection__content" data-id="{{ section.id }}">
    <collection-filters-form class="collection__filters" data-id="{{ section.id }}">
      <form id="CollectionFiltersForm" class="filtersForm">
        <div class="filtersItemsContainer">
          {% if collection.terms %}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {% endif %}
          <div id="FacetsWrapperDesktop" class="filtersWrapper">
            {% render 'filter-category-sorting',
              visibleFiltersQuantity: visibleFiltersBeforeSeeMoreQuantity
            %}

            {% for filter in collection.filters %}
              {% assign filterLabel = filter.label %}
              {% assign filterName = filter.label | downcase %}
              {% assign filtersType = 'checkbox' %}

              {% if filter.type == 'list' and filtersToDisplay contains filterName %}
                {% render 'filter-category',
                  filter: filter,
                  filterLabel: filterLabel,
                  index: forloop.index,
                  filtersType: filtersType,
                  visibleFiltersQuantity: visibleFiltersBeforeSeeMoreQuantity
                %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </form>
    </collection-filters-form>

    <div class="collection__products-wrap">
      <div class="collection__products collection" id="CollectionProductGrid" data-id="{{ section.id }}" data-next-url="{{ paginate.next.url }}">
          {% for product in collection.products %}
            {% assign loop_color = "" %}

            {% for variant in product.variants %}
              {% assign color_value = "" %}
              {% for option in variant.options %}
                {% if forloop.first %}
                  {% assign color_value = option | downcase %}
                {% endif %}
              {% endfor %}

              {% assign first_image = "" %}
              {% assign second_image = "" %}
              {% for image in product.images %}
                {% assign image_alt_downcase = image.alt | downcase %}

                {% if color_value == image_alt_downcase %}
                  {% if first_image.size == 0 %}
                    {% assign first_image = image.src %}
                  {% elsif first_image.size > 0 and second_image.size == 0 %}
                    {% assign second_image = image.src %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if loop_color != color_value %}
                {% assign loop_color = color_value %}
                {% assign variant_url = "/collections/" | append: collection.handle | append: "/products/" | append: product.handle | append: "?variant=" | append: variant.id %}

                {% assign shouldStop = false %}
                {% assign variantId = "" %}
                {% assign isVariantInStock = false %}
                {% for option in product.options_with_values %}
                  {% if shouldStop %}
                    {% break %}
                  {% endif %}

                  {% assign option_name = option.name | downcase %}

                  {% if option_name == 'color' %}
                    {% assign productColorOptions = option.values %}
                    {% for variantOption in variant.options %}
                      {% for productColorOption in productColorOptions %}
                        {% if variantOption == productColorOption %}
                          {% assign colorOption = variantOption %}
                          {% assign variantColorOptionDowncase = variantOption | downcase %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% elsif option_name == 'size' %}
                    {% assign productSizeOptions = option.values %}

                    {% for productSizeOptionTemp in productSizeOptions %}
                      {% if shouldStop == false %}
                        {% assign productSizeOptionTempDowncase = productSizeOptionTemp | downcase %}
                        {% for variant in product.variants %}
                          {% assign optionsArr = variant.title | split: ' / ' %}
                          {% assign option1 = optionsArr[0] | downcase %}
                          {% assign option2 = optionsArr[1] | downcase %}
                          {% if variant.inventory_quantity > 0 and option1 == variantColorOptionDowncase and option2 == productSizeOptionTempDowncase %}
                            {% assign sizeOption = optionsArr[1] %}
                            {% assign variantId = variant.id %}
                            {% assign isVariantInStock = true %}
                            {% assign shouldStop = true %}
                            {% break %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}

                  {% endif %}
                {% endfor %}

                <div
                  class="collection__item"
                  data-collection-item
                  data-is-variant-ready-to-fetch="false"
                  data-is-variant-in-stock="{{ isVariantInStock }}"
                  data-product-handle="{{ product.handle }}"
                  data-variant-id="{{ variantId }}"
                  data-selected-size="{{ sizeOption }}"
                  data-selected-color="{{ colorOption }}"
                  data-product-title="{{ product.title }}"
                  data-default-color="{{ colorOption }}"
                  data-first-image="{{ first_image | img_url: 'master' }}"
                  data-second-image="{{ second_image | img_url: 'master' }}"
                >
                  <div class="collection__item-inner">

                    <div class="collection__img-wrap">
                      <div class="collection__quick-add-panel" data-quick-add-panel>
                        <div class="collection__size-variants">
                          {% for option in product.options_with_values %}
                            {% assign option_name = option.name | downcase %}

                            {% if option_name == 'size' %}
                              {% for value in option.values %}
                                <div
                                  data-variant-size="{{ value }}"
                                  class="collection__size-variant-text no-select
                                    {% if sizeOption == value %}collection__size-variant-text_selected{% endif %}
                                  "
                                >
                                  {{ value }}
                                </div>
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="collection__add-to-cart no-select">Add to bag</div>
                        <div class="collection__add-to-cart-loader">...</div>
                      </div>
                      <div data-quick-add-button class="collection__item-quick-add-btn-wrap">
                        <div class="collection__item-quick-add-btn">
                          {% render 'icon-plus', fill: '#8B8B8B', stroke: '#8B8B8B' %}
                        </div>
                      </div>
                      <a href="{{ variant_url }}" class="collection__item-link"></a>
                      <div class="collection__item-bg-imgs-wrap">
                        <div
                          class="collection__item-bg-img"
                          style="background-image: url('{{ first_image | img_url: 'master' }}')"
                        ></div>
                        {% if second_image != blank %}
                          <div
                            class="collection__item-bg-img-hover"
                            style="background-image: url('{{ second_image | img_url: 'master' }}')"
                          ></div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="collection__item-text-wrap">
                      <div class="collection__item-title">{{ product.title }} {{ colorOption }}</div>
                      <div class="collection__item-price">{{ product.price | money_without_trailing_zeros }}</div>
                    </div>
                  </div>
                  <div class="collection__item-colors-wrap">
                    {% assign colorsQty = 0 %}
                    {% assign colorsQtyToShowOnMobile = 3 %}

                    {% for option in product.options_with_values %}
                      {% assign option_name = option.name | downcase %}
                      {% if option_name == 'color' %}
                        {% assign colorsQty = option.values.size %}

                        {% for colorOptionValue in option.values %}
                          {% assign colorOptionValueDowncase = colorOptionValue | downcase | replace: ' ', '_' %}

                          <div
                            data-color-name="{{ colorOptionValue }}"
                            class="collection__item-color-wrap
                              {% if forloop.index > colorsQtyToShowOnMobile %}
                                collection__item-color-wrap_hide-mobile
                              {% endif %}
                            "
                            title="{{ colorOptionValue | upcase }}"
                          >
                            <div class="collection__item-color-cont">
                              {% for colorEntry in shop.metaobjects['swatch_colors'].values %}
                                {% assign colorEntryNameDowncase = colorEntry.system.handle | downcase | replace: ' ', '_' %}
                                {% if colorEntryNameDowncase == colorOptionValueDowncase %}
                                  {% assign variantColor = colorEntry.color.value %}
                                {% endif %}
                              {% endfor %}
                              <div
                                class="collection__item-color"
                                style="background-color: {{ variantColor }}"
                              ></div>
                            </div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}

                    {% if colorsQty > colorsQtyToShowOnMobile %}
                      {% assign showMoreColorsQty = colorsQty | minus: colorsQtyToShowOnMobile %}
                      <div class="collection__show-more-colors-btn">
                        <span class="collection__show-more-colors-btn-text">
                          + {{ showMoreColorsQty }} more
                        </span>
                      </div>
                    {% endif %}
                  </div>
                  <div class="collection__preorder-wrap {% if isVariantInStock == false %}disp-flx-imp{% endif %}">
                    <div class="collection__preorder">
                      <div class="collection__preorder-text">Preorder</div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          <div class="collection__see-more-btn-wrap">
            <div data-see-more-button class="collection__see-more-btn">
              <span class="collection__see-more-text">
                See more
              </span>
            </div>
            <div data-see-more-loader class="collection__see-more-loader disp-none-imp"></div>
          </div>
        {% endif %}
    </div>
  </div>
  {% endpaginate %}
</eterne-collection>

{{ 'collection-script.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 3,
      "label": "Products per page"
    },
    {
      "type": "text",
      "id": "filters_value",
      "label": "Filters labels from Search & Discovery",
      "default": "category,color,size",
      "info": "Divide every new filter label with comma (e.g. category,color,size)"
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
