{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="collection">
  <div class="collection__title-wrap">
    <span class="collection__title">
      {% if section.settings.collection_title.size > 0 %}
        {{ section.settings.collection_title }}
      {% else %}
        {{ collection.title }}
      {% endif %}
    </span>
  </div>
  <div class="collection__filter-wrap">
    <span class="collection__filter-block-title">Sort & filter</span>
  </div>

  <div class="collection__products">
    {% for product in collections[collection.handle].products %}
      {% assign loop_color = "" %}

      {% for variant in product.variants %}
        {% assign color_value = "" %}
        {% for option in variant.options %}
          {% if forloop.first %}
            {% assign color_value = option | downcase %}
          {% endif %}
        {% endfor %}

        {% assign first_image = "" %}
        {% assign second_image = "" %}
        {% for image in product.images %}
          {% assign image_alt_downcase = image.alt | downcase %}

          {% if color_value == image_alt_downcase %}
            {% if first_image.size == 0 %}
              {% assign first_image = image.src %}
            {% elsif first_image.size > 0 and second_image.size == 0 %}
              {% assign second_image = image.src %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if loop_color != color_value %}
          {% assign loop_color = color_value %}
          {% assign variant_url = "/collections/" | append: collection.handle | append: "/products/" | append: product.handle | append: "?variant=" | append: variant.id %}

          <div class="collection__item">
            <div class="collection__item-inner">
              <div class="collection__img-wrap">
                <a href="{{ variant_url }}" class="collection__item-link"></a>
                <img
                  class="collection__item-img"
                  src="{{ first_image | img_url: 'master' }}"
                  alt="{{ product.title }} {{ first_image.alt }}"
                >
                {% if second_image != blank %}
                  <img
                    class="collection__item-hover-img"
                    src="{{ second_image | img_url: 'master' }}"
                    alt="{{ product.title }} {{ second_image.alt }}"
                    data-hover-image
                  >
                {% endif %}
              </div>
              <div class="collection__item-text-wrap">
                <div class="collection__item-title">{{ product.title }} {{ color_value }}</div>
                <div class="collection__item-fabric-title">Fabric type</div>
                <div class="collection__item-price">{{ product.price | money_without_trailing_zeros }}</div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="collection__item-hidden-photos">
            <img
              src="{{ first_image | img_url: 'master' }}"
              alt="{{ product.title }} {{ first_image.alt }}"
            >
            {% if second_image != blank %}
              <img
                src="{{ second_image | img_url: 'master' }}"
                alt="{{ product.title }} {{ second_image.alt }}"
                data-hover-image
              >
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{{ 'collection-script.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "collection_title",
      "label": "Custom collection title",
      "default": "Collection name",
      "info": "Make it blank to use collection name"
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
