{{ 'collection.css' | asset_url | stylesheet_tag }}

{% if collection.handle == 'all' %}
  <script>
    window.location.href = '/collections/shop';
  </script>
{% endif %}

{% assign visibleFiltersBeforeSeeMoreQuantity = 8 %}
{% assign emptyImage = 'empty-image.svg' | asset_url %}

{% liquid
  assign total_active_values = 0
  if collection.url
    assign results_url = collection.url
  else
    assign terms = collection.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by='
  endif
  assign filtersToDisplay = section.settings.filters_value | split: ',' | downcase
%}

{% assign activeFiltersQuantity = 0 %}
{% for filter in collection.filters %}
  {% for value in filter.values %}
    {% if value.active %}
      {% assign activeFiltersQuantity = activeFiltersQuantity | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if activeFiltersQuantity > 0 %}
  {% assign productsPerPage = section.settings.products_per_page_with_filter %}
{% else %}
  {% assign productsPerPage = section.settings.products_per_page %}
{% endif %}

<eterne-collection class="collection" data-is-filter-open="false">

  {% paginate collection.products by productsPerPage %}
    <div class="collection__title-wrap">
      {% if collection.title == 'Products' or collection.title == 'all' %}
        <span class="collection__title">Shop all</span>
      {% else %}
        <span class="collection__title">{{ collection.title }}</span>
      {% endif %}
    </div>
    <div class="collection__filter-open-btn-wrap">
      <span class="collection__filter-block-title no-select">Sort & filter</span>
      <div data-filter-status="plus" class="collection__filter-closed-drpd-btn">
        {% render 'icon-plus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
      </div>
    </div>

    <div class="collection__content" data-id="{{ section.id }}">
      <collection-filters-form class="collection__filters" data-id="{{ section.id }}">
        <form id="CollectionFiltersForm" class="collection__filters-form">
          <div class="collection__filters-content-wrap">
            {% if collection.terms %}
              <input type="hidden" name="q" value="{{ results.terms | escape }}">
              <input name="options[prefix]" type="hidden" value="last">
            {% endif %}
            <div id="FacetsWrapperDesktop" class="collection__filters-content">
              <div class="collection__radio-filters">
                {% render 'filter-category-sorting',
                        visibleFiltersQuantity: visibleFiltersBeforeSeeMoreQuantity
                %}
              </div>

              <div class="collection__checkbox-filters">
                {% assign activeFiltersQuantity = 0 %}

                {% for filter in collection.filters %}
                  {% assign filterLabel = filter.label %}
                  {% assign filterName = filter.label | downcase %}

                  {% assign visibleFiltresQuantity = 0 %}
                  {% for value in filter.values %}
                    {% if value.count > 0 %}
                      {% assign visibleFiltresQuantity = visibleFiltresQuantity | plus: 1 %}
                    {% endif %}
                  {% endfor %}

                  {% if filter.type == 'list' and filtersToDisplay contains filterName %}
                    {% if visibleFiltresQuantity > 0 %}
                        {% render 'filter-category',
                                filter: filter,
                                filterLabel: filter.label,
                                index: forloop.index,
                                filtersType: 'checkbox',
                                visibleFiltersQuantity: visibleFiltersBeforeSeeMoreQuantity,
                                isFirst: isFirst,
                                isFirst2: isFirst2
                        %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
      </collection-filters-form>

      <div class="collection__products-wrap">
        <div class="collection__products collection" id="CollectionProductGrid" data-id="{{ section.id }}"
             data-next-url="{{ paginate.next.url }}">
          {% for filter in collection.filters %}
            {% for value in filter.values %}
              {% if value.active %}
                {% assign activeFiltersQuantity = activeFiltersQuantity | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          {% for product in collection.products %}
            {% if product.featured_image != blank %}
              {% assign first_image = product.featured_image | img_url: 'master' %}
              {% assign first_image_lazy = product.featured_image | img_url: 'small' %}
            {% else %}
              {% assign first_image = emptyImage %}
            {% endif %}

            {% if product.media[1] != blank %}
              {% assign second_image = product.media[1] | img_url: 'master' %}
              {% assign second_image_lazy = product.media[1] | img_url: 'small' %}
              {% assign hoverImages = product.media[1] | img_url: 'master' %}
              {% assign hoverImages_lazy = product.media[1] | img_url: 'small' %}
            {% elsif product.selected_or_first_available_variant.featured_image != blank %}
              {% assign second_image = product.selected_or_first_available_variant.featured_image | img_url: 'master' %}
              {% assign second_image_lazy = product.selected_or_first_available_variant.featured_image | img_url: 'small' %}
            {% else %}
              {% assign second_image = emptyImage %}
              {% assign hoverImages = emptyImage %}
            {% endif %}

            {% assign variant_url = "/collections/" | append: collection.handle | append: "/products/" | append: product.handle %}

            {% assign shouldStop = false %}
            {% assign currentVariant = "" %}
            {% assign isVariantInStock = true %}
            {% assign isAnyVariantInStock = false %}

            {% for option in product.options_with_values %}
              {% if shouldStop %}
                {% break %}
              {% endif %}

              {% assign option_name = option.name | downcase %}

              {% if option_name == 'color' %}
                {% assign productColorOptions = option.values %}
                {% for variantOption in product.selected_or_first_available_variant.options %}
                  {% for productColorOption in productColorOptions %}
                    {% if variantOption == productColorOption %}
                      {% assign colorOption = variantOption %}
                      {% assign variantColorOptionDowncase = variantOption | downcase %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% elsif option_name == 'size' %}
                {% assign productSizeOptions = option.values %}
                {% for variant in product.variants %}
                  {% if variant.inventory_quantity > 0 %}
                    {% assign isAnyVariantInStock = true %}
                  {% endif %}
                  {% if variant.inventory_quantity == 0 and variant.inventory_policy != 'continue' %}
                    {% assign isAnyVariantInStock = true %}
                  {% endif %}
                {% endfor %}

                {% for productSizeOptionTemp in productSizeOptions %}
                  {% if shouldStop == false %}
                    {% assign productSizeOptionTempDowncase = productSizeOptionTemp | downcase %}
                    {% assign sizeOption = "" %}
                    {% assign fitstAvailableSize = "" %}
                    {% for variant in product.variants %}
                      {% assign optionsArr = variant.title | split: ' / ' %}
                      {% assign option1 = optionsArr[0] | downcase %}
                      {% assign option2 = optionsArr[1] | downcase %}

                      {% if variant.inventory_policy == 'continue' and option1 == variantColorOptionDowncase and option2 == productSizeOptionTempDowncase %}
                        {% assign sizeOption = optionsArr[1] %}
                        {% assign currentVariant = variant %}
                        {% assign isVariantInStock = false %}

                        {% for disabledColor in product.metafields.custom.disabled_option.value %}
                          {% assign disabledColorDowncase = disabledColor | downcase %}
                          {% if disabledColorDowncase == variantColorOptionDowncase %}
                            {% assign isColorVariantInDraft = true %}
                          {% endif %}
                        {% endfor %}

                        {% assign shouldStop = true %}
                        {% break %}
                      {% endif %}

                      {% if variant.inventory_quantity > 0 and option1 == variantColorOptionDowncase and option2 == productSizeOptionTempDowncase %}
                        {% assign sizeOption = optionsArr[1] %}
                        {% assign currentVariant = variant %}
                        {% assign isVariantInStock = true %}

                        {% for disabledColor in product.metafields.custom.disabled_option.value %}
                          {% assign disabledColorDowncase = disabledColor | downcase %}
                          {% if disabledColorDowncase == variantColorOptionDowncase %}
                            {% assign isColorVariantInDraft = true %}
                          {% endif %}
                        {% endfor %}

                        {% assign shouldStop = true %}
                        {% break %}
                      {% endif %}
                      {% if forloop.first %}
                        {% assign fitstAvailableSize = optionsArr[1] %}
                      {% endif %}
                    {% endfor %}

                    {% if sizeOption == "" %}
                      {% assign sizeOption = fitstAvailableSize %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}

            <div
                    class="collection__item"
                    data-is-loaded-with-filters="true"
                    data-collection-item
                    data-is-variant-ready-to-fetch="true"
                    data-is-variant-in-stock="{{ isVariantInStock }}"
                    data-is-any-variant-in-stock="{{ isAnyVariantInStock }}"
                    data-product-handle="{{ product.handle }}"
                    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                    data-selected-size="{{ sizeOption }}"
                    data-selected-color="{{ colorOption }}"
                    data-product-title="{{ product.title }}"
                    data-default-color="{{ colorOption }}"
                    data-first-image="{{ first_image }}"
                    data-second-image="{{ second_image }}"
                    data-empty-image="{{ emptyImage }}"
                    data-hover-images="{{ hoverImages }}"
            >
              <div class="variant_inventory_policy disp-none-imp">
                {% for variant in product.variants %}
                  <div data-variant-id-policy="{{ variant.id }}" data-variant-inventory-policy="{{ variant.inventory_policy }}"></div>
                {% endfor %}
              </div>
              <div class="collection__item-inner">

                <div class="collection__img-wrap">
                  <div class="collection__quick-add-panel" data-quick-add-panel>
                    <div class="collection__size-variants">
                      {% assign selected_color = colorOption %}

                      {% assign size_options = '' %}
                      {% for variant in product.variants %}
                        {% if variant.options contains selected_color %}
                          {% assign size_options = size_options | append: variant.option2 | append: ',' %}
                        {% endif %}
                      {% endfor %}
                      {% assign size_options = size_options | split: ',' | uniq %}

                      {% assign selected_size = '' %}
                      {% assign is_variant_found = false %}

                      {% for size in size_options %}
                        {% unless size == '' %}
                          {% assign is_disabled = true %}
                          {% for variant in product.variants %}
                            {% if variant.option2 == size and variant.options contains selected_color %}
                              {% if variant.inventory_quantity > 0 or variant.inventory_policy == 'continue' %}
                                {% assign is_disabled = false %}
                                {% if is_variant_found == false %}
                                  {% assign selected_size = size %}
                                  {% assign is_variant_found = true %}
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                          <div data-variant-size="{{ size }}"
                               class="collection__size-variant-text no-select
                                     {% if selected_size == size %}collection__size-variant-text_selected{% endif %}
                                     {% if is_disabled %} disabled{% endif %}"
                          >
                            {{ size }}
                          </div>
                        {% endunless %}
                      {% endfor %}
                    </div>
                    <div class="collection__add-to-cart no-select">Add to bag</div>
                    <div class="collection__add-to-cart-loader">...</div>
                  </div>
                  <div data-quick-add-button class="collection__item-quick-add-btn-wrap">
                    <div class="collection__item-quick-add-btn">
                      {% render 'icon-plus', fill: '#8B8B8B', stroke: '#8B8B8B' %}
                    </div>
                  </div>
                  <a href="{{ variant_url }}" class="collection__item-link"></a>
                  <div class="collection__item-bg-imgs-wrap">
                    <div class="collection__item-bg-img lazyLoad"
                         data-bgimage="{{ first_image }}"
                         style="background-image: url('{{ first_image_lazy }}'); filter: blur(2px)"
                         id="productImage"
                    ></div>
                    {% if second_image != blank %}
                      <div class="collection__item-bg-img-hover lazyLoad"
                           data-bgimage="{{ second_image }}"
                           style="background-image: url('{{ second_image_lazy }}'); filter: blur(2px)"
                      ></div>
                    {% endif %}
                  </div>
                </div>

                <div class="collection__item-text-wrap">
                  <div class="collection__item-title">{{ product.title }}</div>
                  <div class="collection__item-price">{{ currentVariant.price | money_without_trailing_zeros }}</div>
                </div>
              </div>
              <div class="collection__preorder-wrap {% if isVariantInStock == false %}disp-flx-imp{% endif %}">
                <div class="collection__preorder">
                  <div class="collection__preorder-text">Preorder</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="loading-spinner disp-none-imp"></div>

        {% if paginate.pages > 1 %}
          <div class="collection__see-more-btn-wrap">
            <div data-see-more-button class="collection__see-more-btn" id="loadMoreButton">
              <span class="collection__see-more-text">
                See more
              </span>
            </div>
            <div data-see-more-loader class="collection__see-more-loader disp-none-imp"></div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endpaginate %}
</eterne-collection>

{{ 'collection-script.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 12,
      "label": "Products per page"
    },
    {
      "type": "range",
      "id": "products_per_page_with_filter",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 12,
      "label": "Products per page with any enabled filter"
    },
    {
      "type": "text",
      "id": "filters_value",
      "label": "Filters labels from Search & Discovery",
      "default": "category,color,size",
      "info": "Divide every new filter label with comma (e.g. category,color,size)"
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
