{{ 'single-product.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign min_aspect_ratio = 0.6
    assign current_variant = product.selected_or_first_available_variant
    assign size_guide_text = ''
    assign enable_size_chart = false
    assign size_chart_page = ''
    assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id
    assign current_color = current_variant.option1 | downcase

    unless product.has_only_default_variant
        for block in section.blocks
            if block.type == 'product-variant-picker'
                assign size_guide_text = block.settings.size_guide_text
                assign size_chart_page = block.settings.size_guide_page
                if block.settings.size_guide_page != blank
                    assign enable_size_chart = true
                endif
                if block.settings.select_first_variant == false and product.variants.size > 1
                    assign current_variant = product.selected_variant | default: false
                endif
            endif
        endfor
    endunless

    assign color_values = ''
    for option in product.options_with_values
        assign option_name = option.name | downcase
        if option_name == 'color'
            for option_value in option.values
                if forloop.last
                    assign color_values = color_values | append: option_value | downcase
                else
                    assign color_values = color_values | append: option_value | append: ',' | downcase
                endif
            endfor
        endif
    endfor
    assign color_values = color_values | split: ','
-%}

{% if enable_size_chart %}
    {{ 'size-guide.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if product.media.size > 1 -%}
    <script src="{{ 'slideshow.js' | asset_url }}" defer></script>
{%- endif -%}
<link rel="stylesheet" href="{{ 'modal.css' | asset_url }}">

<script>
    var productData = {
        "productId": "{{ product.id }}",
        "variants": [
            {% for variant in product.variants %}
            {
                "id": {{ variant.id }},
                "options": [
                    {% for option in variant.options %}
                    "{{ option }}"{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                ],
                "price": {{ variant.price }},
                "available": {{ variant.available | json }},
                "featured_image": {
                    "src": "{{ variant.featured_image.src | img_url: 'master' }}",
                    "alt": "{{ variant.featured_image.alt }}"
                }
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
        ],
        "options": [
            {% for option in product.options %}
            "{{ option }}"{% unless forloop.last %},{% endunless %}
            {% endfor %}
        ]
    };
</script>

<single-product section-id="shopify-section-{{ section.id }}">
    <product-form class="js-product product-info quickbuy-content spaced-row">
        <div class="media-gallery">
            {% for color_value in color_values %}
                <div class="product-media-collage product-slider__swiper
                            {% if color_value == current_color %} product-media-collage--active{% endif %}"
                     data-color-images-wrapper="{{ color_value }}">
                    <div class="swiper-button-prev no-select product-slider__arrow-item product-slider__arrow-prev">
                        {% render 'icon-tick' %}
                    </div>
                    <div class="swiper-button-next no-select product-slider__arrow-item product-slider__arrow-next">
                        {% render 'icon-tick' %}
                    </div>
                    <div class="product-slider__swiper-wrapper swiper-wrapper">
                        {% for image in product.media %}
                            {% assign image_alt_color = image.alt | downcase %}
                            {% if image_alt_color == color_value %}
                                <div class="product-slider__slide swiper-slide">
                                    {% render 'image',
                                            image: image,
                                            sizes: '100vw',
                                            widths: '480, 640, 960, 1280'
                                    %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="product-media-collage
                            {% if product.media.size <= 1 %} product-media-collage__single-image {% endif %}
                            {% if color_value == current_color %} product-media-collage--active{% endif %}"
                     data-color-images-wrapper="{{ color_value }}">
                    {%- for image in product.media -%}
                        {% assign image_alt_color = image.alt | downcase %}
                        {% if image_alt_color == color_value %}
                            <div class="product-media-collage__item">
                                {% render 'image',
                                        image: image,
                                        sizes: '100vw',
                                        widths: '480, 640, 960, 1280',
                                        class: 'product-media-collage__item-img'
                                %}
                            </div>
                        {% endif %}
                    {%- endfor -%}
                </div>
            {% endfor %}
        </div>

        <div class="detail product-column-right" data-cc-animate data-cc-animate-delay="0.2s">
            <div {% if section.settings.enable_sticky_columns %} class="sticky-content-scroll" data-sticky-content-container{% endif %}>
                <div class="product-form" data-ajax-add-to-cart="true" data-product-id="{{ product.id }}">
                    {% if product.type.size > 0 %}
                        <div class="product-type">Styles > {{ product.type }}</div>
                    {% endif %}
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when '@app' %}
                                <div class="{% unless settings.qb_show_app_blocks %}not-in-quickbuy{% endunless %}">
                                    {% render block %}
                                </div>

                            {% when 'title' %}
                                <div class="title-row" {{ block.shopify_attributes }}>
                                <div class="title-container">
                                <h5 class="product-title">{{ product.title | escape }}</h5>

                            {% when 'price' %}
                                <span class="price__current">{{ product.price | money_without_trailing_zeros }}</span>
                                </div>
                                </div>

                            {% when 'product-variant-picker' %}
                                {% render 'product-variant-picker',
                                        product: product,
                                        product_form_id: product_form_id,
                                        block: block,
                                        size_chart_icon: size_chart_icon,
                                        media_ratio: 1,
                                        swatch_crop: settings.swatch_crop_align,
                                        dynamic_availability_mode: 'down',
                                        enable_size_chart: enable_size_chart,
                                        size_guide_text: size_guide_text,
                                        size_guide_page: block.settings.size_guide_page
                                %}

                            {% when 'buy-buttons' %}
                                <buy-buttons class="buy-buttons-row block" {{ block.shopify_attributes }}>
                                    {% form 'product', product, id: product_form_id, class: 'form js-product-form', data-product-id: product.id %}
                                        <input type="hidden" name="id" value="{{ current_variant.id }}" disabled>

                                        {% if product.available %}
                                            {%- liquid
                                                assign gift_card_recipient_feature_active = false
                                                if block.settings.show_gift_card_recipient and product.gift_card?
                                                    assign gift_card_recipient_feature_active = true
                                                endif

                                                assign enable_dynamic_payment_button = false
                                                if block.settings.enable_payment_button and product.selling_plan_groups == empty and gift_card_recipient_feature_active == false
                                                    unless product.template_suffix contains 'preorder'
                                                        assign enable_dynamic_payment_button = true
                                                    endunless
                                                endif
                                            -%}

                                            {% if gift_card_recipient_feature_active %}
                                                {% render 'gift-card-recipient', section: section %}
                                            {% endif %}

                                            <div class="quantity-submit-row input-row {% if enable_dynamic_payment_button %}has-spb{% endif %}">
                                                {% if block.settings.show_quantity_selector %}
                                                    <label class="label"
                                                           for="quantity">{{ 'products.product.quantity' | t }}</label>
                                                    <quantity-wrapper class="quantity-wrapper">
                                                        <a href="#" data-quantity="down"
                                                           aria-label="{{ 'cart.items.decrease_quantity' | t }}">{% render 'icon-minus' %}</a>
                                                        <input aria-label="{{ 'products.product.quantity' | t }}"
                                                               id="quantity" type="number" name="quantity" value="1"/>
                                                        <a href="#" data-quantity="up"
                                                           aria-label="{{ 'cart.items.increase_quantity' | t }}">{% render 'icon-plus' %}</a>
                                                    </quantity-wrapper>
                                                {% endif %}

                                                <div class="quantity-submit-row__submit input-row">
                                                    <div class="js-form-error lightly-spaced-row" role="alert"
                                                         hidden></div>

                                                    {%- capture add_to_cart_text -%}
                                                        {%- if product.template_suffix contains 'preorder' -%}
                                                            add to bag
                                                        {%- else -%}
                                                            {{- 'products.product.add_to_cart' | t -}}
                                                        {%- endif -%}
                                                    {%- endcapture -%}
                                                    <button
                                                            class="btn btn--large add-to-cart"
                                                            type="submit"
                                                            name="add"
                                                            data-add-to-cart-text="{{ add_to_cart_text | escape }}"{% if product.available == false %} disabled{% endif %}
                                                    >
                                                        {%- if current_variant.available or current_variant == false -%}
                                                            {{- add_to_cart_text -}}
                                                        {%- else -%}
                                                            {{- 'products.variant.no_stock' | t -}}
                                                        {%- endif -%}
                                                    </button>
                                                </div>
                                                <!-- Add to Wishlist Button -->
                                                <button class="btn btn--large add-to-wishlist" type="button"
                                                        name="add_to_wishlist">
                                                    {% render 'icon-heart' %}
                                                    Add to wishlist
                                                </button>
                                                {% if enable_dynamic_payment_button %}
                                                    <script class="dynamic-payment-button-template"
                                                            type="text/template">
                                                        {{ form | payment_button }}
                                                    </script>
                                                {% endif %}

                                                {% if block.settings.show_backorder_text %}
                                                    {% render 'backorder', product: product, variant: current_variant %}
                                                {% endif %}
                                            </div>

                                        {% else %}
                                            <div class="quantity-submit-row input-row">
                                                <div class="quantity-submit-row__submit">
                                                    <button class="btn btn--large" name="add" type="submit" disabled>
                                                        {{- 'products.variant.no_stock' | t -}}
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endform %}

                                    {%- if product.available and block.settings.show_pickup_availability -%}
                                        {% render 'pickup-availability', current_variant: current_variant %}
                                    {%- endif -%}
                                </buy-buttons>

                            {% when 'divider' %}
                                <hr class="not-in-quickbuy" {{ block.shopify_attributes }}>
                        {% endcase %}
                    {% endfor %}

                    <div class="lightish-spaced-row-above only-in-quickbuy">
                        <a class="more" href="{{ product.url }}">
                            <span class="beside-svg underline">{{ 'products.product.view_details' | t }}</span>
                            <span class="icon--small icon-natcol has-ltr-icon">{% render 'icon-chevron-right' %}</span>
                        </a>
                    </div>
                </div>

                <div class="product-recommendations">
                    <h4>Style With:</h4>

                    {% for style_with_metaobjects in product.metafields.custom.style_with_products.value %}
                        {% assign variant_color_to_refer = style_with_metaobjects['color'].value.name | downcase %}

                            {% if variant_color_to_refer == current_color %}
                                {% assign show_product = true %}
                            {% else %}
                                {% assign show_product = false %}
                            {% endif %}
                            <div class="recommendations-grid {% if show_product %}recommendations-grid--active{% endif %}"
                                 data-rec-products
                                 data-rec-products-color="{{ variant_color_to_refer }}">
                                <ul class="recommendations-list">
                                    {% for rec_variant in style_with_metaobjects['recommended_variants'].value %}
                                    {% assign rec_variant_color = rec_variant.option1 | downcase %}
                                    {% assign rec_product = rec_variant.product %}
                                    {% assign rec_product_quantity = forloop.length %}
                                        <li class="product{% if forloop.index0 > 1 %} hidden{% endif %}"
                                            data-product-id="{{ rec_product.id }}">
                                            <div class="product__link">
                                                <div class="product__image-wrap">
                                                <div class="product__quick-add-panel" id="quick-add-{{ rec_product.id }}--{{ forloop.index0 }}">
                                                    <div class="product__size-variants">
                                                        {% assign first_variant = '' %}
                                                        {% assign current_loop = 0 %}
                                                        {% for loop_variant in rec_product.variants %}
                                                            {% assign loop_variant_color = loop_variant.option1 | downcase %}
                                                            {% if loop_variant_color == rec_variant_color  %}

                                                                {% if first_variant == '' and loop_variant.available %}
                                                                    {% assign first_variant = loop_variant %}
                                                                {% elsif first_variant == '' and forloop.last %}
                                                                    {% assign first_variant = rec_product.variants[0] %}
                                                                {% endif %}
                                                                {% assign current_loop = current_loop | plus: 1 %}

                                                                <input type="radio"
                                                                       id="size-{{ loop_variant.id }}--{{ current_loop }}"
                                                                       name="recommended-product-size"
                                                                       value="{{ loop_variant.id }}"
                                                                       class="product__size-item
                                                                              {% if loop_variant.id == first_variant.id %}
                                                                                product__size-item--checked
                                                                              {% endif %}"
                                                                       data-variant-id="{{ loop_variant.id }}"
                                                                       data-variant-size="{{ loop_variant.option2 }}"
                                                                       {% if loop_variant.id == first_variant.id %}
                                                                            checked
                                                                       {% endif %}
                                                                        {% unless loop_variant.available %}
                                                                            disabled
                                                                        {% endunless %} >
                                                                <label for="size-{{ loop_variant.id }}--{{ current_loop }}"
                                                                        class="product__size-label
                                                                            {% if first_variant.id == loop_variant.id %}
                                                                            product__size-label--checked
                                                                          {% endif %}
                                                                          {% unless loop_variant.available %}
                                                                            product__size-label--disabled
                                                                          {% endunless %}">
                                                                    {{ loop_variant.option2 }}
                                                                </label>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="product__add-to-cart-wrapper">
                                                        {% if first_variant.available %}
                                                            <button class="product__add-to-cart"
                                                                    data-quick-add-panel="quick-add-{{ rec_product.id }}--{{ forloop.index0 }}">
                                                                Add to bag
                                                            </button>
                                                        {% else %}
                                                            <button class="product__add-to-cart">
                                                                Preorder
                                                            </button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                    {% render 'image',
                                                            image: first_variant.featured_image,
                                                            widths: '480, 640, 960, 1280',
                                                            class: 'product__img'
                                                    %}
                                                <div data-quick-add-button class="product__item-quick-add-btn-wrap">
                                                    <div class="product__item-quick-add-btn">
                                                        {% render 'icon-plus', fill: '#8B8B8B', stroke: '#8B8B8B' %}
                                                    </div>
                                                </div>
                                                <a href="{{ first_variant.url }}" class="product__item-link"></a>
                                            </div>
                                                <div class="product__text-wrap">
                                                    <p class="product__title">{{ rec_product.title }} {{ product_color }}</p>
                                                    <p class="product__price">{{ rec_product.price | money_without_trailing_zeros }}</p>
                                                </div>
                                            </div>
                                            </li>
                                    {% endfor %}
                                </ul>
                                {% if rec_product_quantity > 2 %}
                                    <button class="show-more-btn">See More</button>
                                {% endif %}
                            </div>

                    {% endfor %}
                </div>

                <hr class="not-in-quickbuy recommendations-devider" {{ block.shopify_attributes }}>
                {%- if product.description != blank -%}
                    <div class="product-details product-details_first" data-product-details>
                        <div class="product-details__header">
                            <h4 class="product-details__title no-select">{{ settings.details_title_text }}</h4>
                            <div class="product-details__btn" data-plus-button>
                                {% render 'icon-plus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
                            </div>
                            <div class="product-details__btn disp-none-imp" data-minus-button>
                                {% render 'icon-minus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
                            </div>
                        </div>
                        <div class="product-details__content">
                            {{ product.description }}
                        </div>
                    </div>
                    <div class="product-details" data-product-size-and-info>
                        <div class="product-details__header">
                            <h4 class="product-details__title no-select">{{ settings.size_fit_information_title_text }}</h4>
                            <div class="product-details__btn" data-plus-button>
                                {% render 'icon-plus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
                            </div>
                            <div class="product-details__btn disp-none-imp" data-minus-button>
                                {% render 'icon-minus', fill: '#2B2B2B', stroke: '#2B2B2B' %}
                            </div>
                        </div>
                        <div class="product-details__content">
                            {{ product.metafields.custom.size_fit_information.value }}
                        </div>
                    </div>
                {%- endif -%}
            </div>
        </div>

    </product-form>
</single-product>

{% render 'save-recenlty-viewed-products', product: product %}

{{ 'single-product-script.js' | asset_url | script_tag }}
{% if enable_size_chart %}
    {{ 'size-guide-chart.js' | asset_url | script_tag }}
{% endif %}

{% schema %}
{
  "name": "Single product page",
  "class": "section-main-product page-section-spacing page-section-spacing--no-top-mobile",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_columns",
      "label": "Enable stick on scroll",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_and_shipping",
          "label": "Show tax status and shipping policy link",
          "default": false
        },
        {
          "type": "checkbox",
          "label": "Show product rating",
          "id": "enable_product_reviews_by_price",
          "info": "Add reviews by installing [an app](https://apps.shopify.com/search?q=reviews). App must support Shopify's standard rating metafield.",
          "default": true
        }
      ]
    },
    {
      "type": "product-variant-picker",
      "name": "Product variant picker",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_single",
          "label": "Show for a single variant",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "select_first_variant",
          "label": "Select first available variant",
          "default": true
        },
        {
          "type": "select",
          "id": "selector_style",
          "label": "Variant style",
          "options": [
            {
              "value": "listed",
              "label": "Buttons"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "listed"
        },
        {
          "type": "checkbox",
          "id": "enable_dynamic_availability",
          "label": "Show availability in selectors",
          "info": "When an option is selected, options below it are updated to show their availability",
          "default": true
        },
        {
          "type": "header",
          "content": "Size chart"
        },
        {
          "type": "text",
          "id": "size_guide_variant",
          "label": "Option name where size guide to display",
          "default": "Size"
        },
        {
          "type": "text",
          "id": "size_guide_text",
          "label": "Size guide button text",
          "default": "View Size Guide"
        },
        {
          "type": "page",
          "id": "size_guide_page",
          "label": "Page containing size chart"
        }
      ],
      "limit": 1
    },
    {
      "type": "buy-buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_backorder_text",
          "label": "Show backorder text",
          "default": false,
          "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
        },
        {
          "type": "checkbox",
          "id": "show_pickup_availability",
          "label": "Show pickup availability",
          "default": true,
          "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "Show recipient information form for gift cards",
          "info": "Allow customers to send gift cards to a recipient along with a personal message. When enabled, the dynamic checkout button will be disabled for gift cards. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": []
    }
  ]
}
{% endschema %}
