<div class="cart-flyover-you-may-also-like">
  <div class="cart-flyover-you-may-also-like__title">You May Also like</div>
  <div class="cart-flyover-you-may-also-like-swiper">
    <div class="swiper-wrapper">
      {% for item in product_list_you_may_like %}
        <a {% if item.url %}href="{{ item.url }}"{% endif %} class="swiper-slide cart-flyover-you-may-also-like-swiper-item">
          <div class="cart-flyover-you-may-also-like-swiper-item-container">
            <div class="cart-flyover-you-may-also-like-swiper-item__image-container">
              {% assign image = item.images | first %}
              <img
                src="{{ image | image_url }}"
                class="cart-flyover-you-may-also-like-swiper-item__image"
              >
            </div>
            {% assign color = item.first_available_variant.options | first %}
            <div class="cart-flyover-you-may-also-like-swiper-item__text">{{ item.title }} {{ color }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="cart-flyover-you-may-also-like-swiper__button cart-flyover-you-may-also-like-swiper__button-prev">
      <img src="{{ 'recent-products-arrow-left.png' | asset_img_url }}">
    </div>
    <div class="cart-flyover-you-may-also-like-swiper__button cart-flyover-you-may-also-like-swiper__button-next">
      <img src="{{ 'recent-products-arrow-right.png' | asset_img_url }}">
    </div>
  </div>
</div>
