<div class="product-{{ item.product.handle }} cart-flyover-item" variant-id="{{ item.variant.id }}">
  <div>
    <a href="{{ item.url }}" data-bgimage="{{ item.image | image_url }}" class="cart-flyover-item__image lazyLoad"></a>
  </div>

  <div class="cart-flyover-item-description">
    <div class="cart-flyover-item-description-info">
      <div class="cart-flyover-item-description-info__title">{{ item.product.title | escape_once }}</div>
      <div class="cart-flyover-item-description-info__options">{{ item.variant.options | join: ' / ' }}</div>
      <div data-variant-id="{{ item.variant.id }}" class="cart-flyover-item-description-info-cart-buttons">
        <button name="remove-button" class="cart-flyover-item-description-info-cart-buttons__button">–</button>
        <div name="item-quantity" item-quantity="{{ item.quantity }}" class="cart-flyover-item-description-info-cart-buttons__quantity">{{ item.quantity }}</div>
        <button name="add-button" class="cart-flyover-item-description-info-cart-buttons__button">+</button>
      </div>
      <div data-variant-id="{{ item.variant.id }}" class="cart-flyover-item-description-info-extra">
        <button name="delete-button" class="cart-flyover-item-description-info-extra__text">Remove</button>
        <div class="cart-flyover-item-description-info-extra__text"> | </div>
        <button name="wishlist-button" class="cart-flyover-item-description-info-extra__text">Add to Wish List</button>
      </div>
    </div>
    <div class="cart-flyover-item-description__price">{{ item.variant.price | money_without_trailing_zeros }}</div>
  </div>
</div>
